// Define variables for your color scheme

// For example:
$red: rgb(132, 5, 5);
$blue: rgb(79, 134, 255);
$yellow: rgb(255, 255, 206);
$orange: rgb(255, 216, 79);
$green: rgb(5, 109, 0);
$gray: #000000;
$light-gray: #F4F4F4;
