
<div id="about">
  <div class="about-content">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/Stefchn" class="img-circle" alt="Stefchn">
        <h2>Stéphane</h2>
        <p>
          <a href="http://github.com/Stefchn">
            <i class="fa fa-github"></i> Stefchn
          </a>
        </p>
        </li>
        <li>
          <img src="https://kitt.lewagon.com/placeholder/users/thefabian" class="img-circle" alt="Fabian">
          <h2>Fabian</h2>
          <p>
            <a href="http://github.com/thefabian">
              <i class="fa fa-github"></i> thefabian
            </a>
          </p>
          </li>
        </ul>
      </div>
    </div>
